/*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/
html, body {
    height: 100%
}

.body-overide {
    margin-bottom: 60px;
}

[class*="col-"] {
    padding-top: 15px;
}

.queue_table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: gray;
}

.queue_table tr {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.queue_table_ul {
    list-style-type: none;
}

.editable-click {
    border: none !important;
    color: black !important;
    cursor: pointer;
}

.queue_table_ul i {
    vertical-align: middle;
    line-height: 1;
}

.queue_table_ul span {
    vertical-align: middle;
    line-height: 1;
}

.option-group {
    text-align: left;
}

.option-group i {
    vertical-align: middle;
    line-height: 1;
}

.option-group span {
    vertical-align: middle;
    line-height: 1;
}

.listbuilder {
    list-style: none;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    /*box-sizing: content-box;*/
    width: 100% !important;
    /*height: 40px;*/
    min-height: 3rem;
    text-align: left;
    padding: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    margin: auto;
}

.listbuilder span {
    vertical-align: middle;
    line-height: 1;
}

/*noinspection CssUnusedSymbol*/
.listbuilder-focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.listbuilder-entry {
    display: inline-block !important;
    /*float: left;*/
    position: relative;
    /*left: -30px;*/
    /*height: 28px;*/
    height: 1.75rem;
    /*line-height: 28px;*/
    line-height: 1.75rem;
    padding: 0 1em;
    margin: 0 0.3em 0.3em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    /*clear: right;*/
}

.listbuilder-entry-add {
    display: inline-block !important;
    width: 20px;
    position: relative;
    height: 1.75rem;
    line-height: 1.75rem;
    padding: 0;
    margin: 0 0.3em 0.3em 0;

}

.listbuilder-entry-add input {
    /*float: left;*/
    width: 100px;
    /*display: block;*/
    border: none;
    box-shadow: none;
    padding: 0.5rem 0 0 1rem;
    background: transparent;
}

.listbuilder-entry-add input:focus {
    outline: none;
}

.listbuilder-entry-remove {
    display: inline-block;
    position: relative;
    /*width: 2.5em;*/
    height: 1.75rem;
    right: 0;
    top: 0;
}

a[ng-click] {
    cursor: pointer;
}

.datepicker {
    font-size: 10px;
}

/*noinspection CssUnusedSymbol*/
.message-commissioner {
    background-color: #ffffe6;
}

.message-user {
    font-size: smaller;
    color: #a2a19f;
    vertical-align: middle;
    display: inline-flex;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.editable-checklist label {
    display: block;
}

.ctrl-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #a2a19f;
    display: block;
    margin-bottom: 5px;
    margin-left: 19px;
    margin-right: 19px;
    text-align: center;
}

.ctrl-icon i {
    min-height: 36px;
    min-width: 36px;
    border-radius: 50%;
    background-color: #a2a19f;
    display: block;
    padding: 12px;
    margin: 0;
    border: None;
}

.ctrl-text {
    text-align: center;
    font-size: 13px;
    position: relative;
}

.ctrl-list {
    list-style: None;
}

.ctrl-list li {
    float: left;
    cursor: pointer;
}

.container-fluid {
    /* Workaround for extremely large displays */
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}

.queue_div {
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
    box-shadow: 0 0 0 0 #888,
    0 1px 0 0 #888,
    0 1px 0 0 #888, /* Just to fix the corner */ 0 0 0 0 #888 inset,
    0 1px 0 0 #888 inset;
}

.queue_user_icon i {
    vertical-align: middle;
    line-height: 1;
}

.queue_user_icon span {
    vertical-align: middle;
    line-height: 1;
}

.queue_commission_details {
    height: 60px;
    list-style-type: none;
    vertical-align: middle;
    line-height: 1;
    display: flex;
    flex-flow: column wrap;
}

.queue_commission_details i {
    vertical-align: middle;
    line-height: 1;
}

/* Loading stuff */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader {
    color: #000000;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Loading Stuff */

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.file-upload {
    /*border-color: rgb(221, 221, 221);*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-radius: 4px;*/
}

.file-upload ul {
    list-style-type: none;
}

.file-upload li {
    display: inline-block;
    width: 90%;
    background-color: #fcf8e3;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.file-upload i {
    vertical-align: middle;
    line-height: 1;
}

.file-upload span {
    vertical-align: middle;
    line-height: 1;
}

.file-upload-delete {
    display: inline-block;
    position: relative;
    /*width: 2.5em;*/
    height: 1.75rem;
    right: 0;
    top: 0;
    float: right;
    color: red;
    vertical-align: middle;
    line-height: 1;
}

.file-upload-button {
    display: table-cell;
    height: 100%;
    min-height: 28px;
    margin: auto;
    padding: 0;
    border-radius: 4px 0 0 4px;
}

.pricetable span{
    vertical-align: middle;
    line-height: 1;
}

.pricetable i{
    vertical-align: middle;
    line-height: 1;
}