<div class="container-fluid">
    <div class="row">
        <ul class="ctrl-list">
            <li ui-sref="admin-commissions">
                <div class="ctrl-icon">
                    <i class="material-icons md-36">inbox</i>
                </div>
                <div class="ctrl-text">Commissions</div>
            </li>
            <li ui-sref="admin-queues">
                <div class="ctrl-icon">
                    <i class="material-icons md-36">folder</i>
                </div>
                <div class="ctrl-text">Queues</div>
            </li>
            <li ui-sref="admin-types">
                <div class="ctrl-icon">
                    <i class="material-icons md-36">toc</i>
                </div>
                <div class="ctrl-text">Types</div>
            </li>
            <li ui-sref="admin-sizes">
                <div class="ctrl-icon">
                    <i class="material-icons md-36">photo_size_select_large</i>
                </div>
                <div class="ctrl-text">Sizes</div>
            </li>
            <li ui-sref="admin-extras">
                <div class="ctrl-icon">
                    <i class="material-icons md-36">assignment</i>
                </div>
                <div class="ctrl-text">Extras</div>
            </li>
        </ul>
    </div>
</div>