<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 text-center">
            <div class="option-group">
                <i class="material-icons">folder</i><span>Queue</span>
                <list-builder builder-values='queues' builder-results="filter.queue"></list-builder>
            </div>
            <div class="option-group" ng-hide="view == 'user-commissions'">
                <i class="material-icons">account_circle</i><span>User</span>
                <input id="user" class="form-control">
            </div>
            <div class="option-group">
                <i class="material-icons">date_range</i><span>Date</span>
                <input class="form-control datepicker"
                       date-range-picker
                       class="form-control date-picker"
                       type="text"
                       options="datepicker"
                       ng-model="filter.date">
            </div>
            <div class="option-group">
                <i class="material-icons">toc</i><span>Type</span>
                <list-builder builder-values='types' builder-results="filter.type"></list-builder>
            </div>
            <div class="option-group">
                <i class="material-icons">photo_size_select_large</i><span>Size</span>
                <list-builder builder-values='sizes' builder-results="filter.size"></list-builder>
            </div>
            <div class="option-group">
                <i class="material-icons">assignment</i><span>Extras</span>
                <list-builder builder-values='extras' builder-results="filter.extras"></list-builder>
            </div>
            <div class="option-group">
                <i class="material-icons">monetization_on</i><span>Payment Status</span>
                <list-builder builder-values='paid_values' builder-results="filter.paid"></list-builder>
            </div>
            <div class="option-group">
                <i class="material-icons">hourglass_empty</i><span>Status</span>
                <list-builder builder-values='status_values' builder-results="filter.status"></list-builder>
            </div>
            <div class="option-group">
                <i class="material-icons">people</i><span>Characters</span>
                <rzslider rz-slider-model="slider.min"
                          rz-slider-high="slider.max"
                          rz-slider-options="slider.options"
                          ng-model-options="{debounce: 1000}"></rzslider>
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <select class="form-control">
                        <!-- TODO: Wire this up -->
                        <option>Unfinished</option>
                        <option>Paid & Unfinished</option>
                        <option>All</option>
                        <option>Custom</option>
                    </select>
                </div>
            </div>
            <div class="row" style="height:10px"></div>
            <div ng-show="loading" style="margin:auto;width:50%;text-align: center">
                <div class="loader"></div>
                <p>Loading...</p>
            </div>
            <div class="row queue_div" ng-repeat="commission in commissions track by commission.id"
                 ui-sref="commission({commissionid: commission.id})" ng-hide="loading">
                <div class="col-md-2 col-lg-1">
                        <span class="queue_user_icon">
                        <i class="material-icons md-48" title="User">account_circle</i>
                                {{ commission.user }}
                        </span>
                </div>
                <div class="col-md-10 col-lg-11">
                    <ul class="queue_commission_details">
                        <li title="Queue">
                            <i class="material-icons">folder</i>
                            {{ commission.queue_name }}
                        </li>
                        <li title="Date">
                            <i class="material-icons">date_range</i>
                            {{ commission.date |amUtc |amLocal| amDateFormat:'YYYY.MM.DD HH:mm' }}
                        </li>
                        <li title="Type">
                            <i class="material-icons">toc</i>
                            {{ commission.type.name }}
                        </li>
                        <li title="Size">
                            <i class="material-icons">photo_size_select_large</i>
                            {{ commission.size.name }}
                        </li>
                        <li title="Extras">
                            <i class="material-icons">assignment</i>
                            {{ extra.name }}
                        </li>
                        <li title="Characters">
                            <i class="material-icons">people</i>
                            {{ commission.characters }}
                        </li>
                        <li title="Status: {{ commission.status[1] }}">
                            <i class="material-icons">
                                {{ status_values[commission.status[0]].icon }}
                            </i>
                        </li>
                        <li title="{{ commission.paid[1] }}">
                            <i class="material-icons"
                               aria-hidden="true"
                               ng-style="{'color': paid_values[commission.paid[0]].icon_color}">
                                monetization_on
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

