<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-2" style="height: 75vh">
            <div class="option-group">
                <i class="material-icons">folder</i><span>Queue</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ vm.commission.queue_name }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">account_circle</i><span>User</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ vm.commission.user }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">date_range</i><span>Date</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ vm.commission.date |amUtc |amLocal| amDateFormat:'YYYY.MM.DD HH:mm' }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">toc</i><span>Type</span><br/>
                <ul class="queue_table_ul"
                    editable-select="vm.commission.type"
                    buttons="no"
                    e-ng-options="t as t.name for t in vm.queue.types">
                    <li>{{ vm.commission.type.name }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">photo_size_select_large</i><span>Size</span><br/>
                <ul class="queue_table_ul"
                    editable-select="vm.commission.size"
                    buttons="no"
                    e-ng-options="s as s.name for s in vm.queue.sizes">
                    <li>{{ vm.commission.size.name }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">assignment</i><span>Extras</span><br/>
                <ul class="queue_table_ul" editable-checklist="vm.commission.extras"
                    e-ng-options="e as e.name for e in vm.queue.extras"
                    buttons="no"
                    blur="submit"
                    e-style="checkbox">
                    <li ng-repeat="extra in vm.commission.extras">
                        <span>{{ extra.name }} <i class="material-icons md-18">edit</i></span>
                    </li>
                    <li ng-hide="vm.commission.extras.length > 0"><i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">people</i><span>Characters</span><br/>
                <ul class="queue_table_ul"
                    editable-number="vm.commission.characters"
                    e-min="1"
                    buttons="no"
                    blur="submit"
                    e-max="{{ queue.max_characters }}">
                    <li>{{ vm.commission.characters }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">monetization_on</i><span>Payment Status</span><br/>
                <div ng-if="vm.user.is_staff">
                    <ul class="queue_table_ul"
                        editable-select="vm.commission.paid"
                        e-ng-options="p as p[1] for p in vm.paid_values"
                        buttons="no">
                        <li>
                            {{ vm.commission.paid[1] }}
                            <i class="material-icons md-18" ng-hide="!vm.user.is_staff">
                                edit
                            </i>
                        </li>
                    </ul>
                </div>
                <div ng-if="!vm.user.is_staff">
                    <ul class="queue_table_ul">
                        <li>
                            {{ vm.commission.paid[1] }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="option-group">
                <i class="material-icons">hourglass_empty</i><span>Status</span><br/>
                <div ng-if="vm.user.is_staff">
                    <ul class="queue_table_ul"
                        editable-select="vm.commission.status"
                        e-ng-options="s as s[1] for s in vm.status_values"
                        buttons="no">
                        <li>
                            {{ vm.commission.status[1] }}
                            <i class="material-icons md-18">
                                edit
                            </i>
                        </li>
                    </ul>
                </div>
                <div ng-if="!vm.user.is_staff">
                    <ul class="queue_table_ul">
                        <li>
                            {{ vm.commission.status[1] }}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Total</h5>
                </div>
                <table class="table pricetable">
                    <tfoot>
                        <tr class="bg-warning">
                            <td>Total</td>
                            <td>${{ vm.total }}</td>
                        </tr>
                    </tfoot>
                    <tr>
                        <td>
                            <span>
                                {{ vm.commission.type.name }}
                            </span>
                        </td>
                        <td>
                            <span>
                                ${{ vm.commission.type.price }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="material-icons md-18">subdirectory_arrow_right</i>
                            <span>Extra Characters</span>
                        </td>
                        <td>
                            <span>
                                ${{ vm.commission.type.extra_character_price*vm.commission.characters }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{ vm.commission.size.name }}</span>
                        </td>
                        <td>
                            <span>${{ vm.commission.size.price }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="material-icons md-18">subdirectory_arrow_right</i>
                            <span>Extra Characters</span>
                        </td>
                        <td>
                            <span>${{ vm.commission.size.extra_character_price*vm.commission.characters }}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-start="extra in vm.commission.extras">
                        <td>
                            <span>{{ extra.name }}</span>
                        </td>
                        <td>
                            <span>${{ extra.price }}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>
                            <i class="material-icons md-18">subdirectory_arrow_right</i>
                            <span>Extra Characters</span>
                        </td>
                        <td>
                            <span>${{ extra.extra_character_price*vm.commission.characters }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8 col-lg-10" ng-hide="!vm.commission">
            <div class="panel panel-default" ng-repeat="message in vm.commission.message_set| orderBy: 'date'"
                 ng-class="{'message-commissioner': message.user == vm.commission.user}">
                <div class="panel-body">
                    <div class="row">
                        <div ng-class="{'col-md-9': message.commissionfiles_set.length > 0, 'col-md-12': message.commissionfiles_set.length == 0} ">
                            <div class="message-user">
                                <i class="material-icons md-18">account_circle</i>
                                {{ message.user }} replied at
                                {{ message.date |amUtc |amLocal| amDateFormat:'YYYY.MM.DD HH:mm' }}
                            </div>
                            <status-changes ng-hide="message.type !=1"
                                            changes="message.status_changes"></status-changes>
                            <div ng-bind-html="message.message"></div>
                        </div>
                        <div class="col-md-3" ng-show="message.commissionfiles_set.length">
                            <div class="panel">
                                <div class="panel-body">
                                    <ul style="padding: 0;list-style: none; font-size: 90%; text-overflow: ellipsis; overflow: hidden; white-space:nowrap">
                                        <li ng-repeat="file in message.commissionfiles_set">
                                            <a href="{{ file.img }}"
                                               target="_blank"
                                               uib-popover-template="'templates/imgpopover.html'"
                                               popover-trigger="'mouseenter'"
                                               popover-placement="'auto bottom'"
                                               popover-popup-close-delay="2"
                                            >
                                                <i class="material-icons md-18">attachment</i>&nbsp;
                                                {{ file.imgname }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <formly-form model="vm.commission" fields="vm.fields" form="vm.forms">
                    </formly-form>
                    <button class="form-control" ng-click="vm.update()">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>
