<!-- TODO: MAKE THIS LESS SHITTY -->
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <h3>Login</h3>
                        <div class="alert alert-danger" ng-show="vm.login_form_error">
                            <i class="material-icons">error</i>
                            {{ vm.login_form_error }}
                        </div>
                        <formly-form model="vm.login_form" fields="vm.login_fields" form="vm.forms.login_form">
                            <button type="submit" ng-disabled="vm.forms.login_form.$invalid" ng-click="vm.login()"
                                    class="btn btn-primary submit-button">
                                Login
                            </button>
                        </formly-form>
                    </div>
                    <div class="col-md-6 well form-group">
                        <h3>or Register</h3>
                        <formly-form model="vm.register_form" fields="vm.register_fields" form="vm.forms.register_form">
                            <button type="submit" ng-disabled="vm.forms.register_form.$invalid" ng-click="vm.register()"
                                    class="btn btn-primary submit-button">
                                Register
                            </button>
                        </formly-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>