<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-lg-2 text-center">
            <i class="material-icons md-48" ng-click="add()">add</i>
            <div class="option-group">
                <i class="material-icons">people</i><span>Price</span>
                <rzslider rz-slider-model="slider.min"
                          rz-slider-high="slider.max"
                          rz-slider-options="slider.options"></rzslider>
            </div>
        </div>
        <div class="col-md-7 col-lg-10">
            <table class="queue_table">
                <thead>

                </thead>
                <tr ng-repeat="option in options">
                    <td style="width:15vw">
                        <ul class="queue_table_ul">
                            <li>
                                <span>{{ option.name }}</span>
                            </li>
                            <li>
                                <span>{{ option.price }}</span>
                            </li>
                            <li>
                                <span>{{ option.extra_character_price }}</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        {{ option.description }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

